<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.mainMapper">
	<select id="getBestList" resultType="Board">
		<![CDATA[
			SELECT * FROM (SELECT ROWNUM, B.*
			FROM (SELECT * FROM BOARD ORDER BY BOARD_REC DESC)B)
			WHERE ROWNUM<=5
		]]>
	</select>
</mapper>