@CHARSET "UTF-8";
th {font-size:12pt}
td {font-size:12pt}

a:LINK {color: black; text-decoration: none;}
a:ACTIVE {color: black; text-decoration: none;}
a:VISITED {color: black; text-decoration: none;}
a:HOVER {color: black; text-decoration: underline;}

/* 순서를 지켜라-우선순위가 맨밑에서부터이다  */
.subjectA:LINK {color: black; text-decoration: none;}
.subjectA:ACTIVE {color: black; text-decoration: none;}
.subjectA:VISITED {color: black; text-decoration: none;}
.subjectA:HOVER {color: green; text-decoration: underline;}
